{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>Trilobot Teleop</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
    <div id="taskbar">
      <button id="menu" class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z" />
        </svg>
      </button>
    </div>

    <div id="robot">
      <div id="camera-box">
        <img src="{{ url_for('video_feed') }}" id="camera" />

        <div class="fullscreen-button">
          <svg
            id="fullscreen-open"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M5 5h5v2H7v3H5zm9 0h5v5h-2V7h-3zm3 9h2v5h-5v-2h3zm-7 3v2H5v-5h2v3z"
            />
          </svg>
          <svg
            id="fullscreen-exit"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M14 14h5v2h-3v3h-2zm-9 0h5v5H8v-3H5zm3-9h2v5H5V8h3zm11 3v2h-5V5h2v3z"
            />
          </svg>
        </div>
      </div>

      <div>
        <!-- Icons from https://icon-sets.iconify.design/mdi/ -->

        <div id="fwd-back">
          <button class="btn" id="up">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path
                fill="currentColor"
                d="M15 20H9v-8H4.16L12 4.16L19.84 12H15z"
              />
            </svg>
          </button>
          <button class="btn" id="down">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path fill="currentColor" d="M9 4h6v8h4.84L12 19.84L4.16 12H9z" />
            </svg>
          </button>
        </div>
      </div>
      <div id="left-right">
        <button class="btn" id="left">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill="currentColor" d="M20 9v6h-8v4.84L4.16 12L12 4.16V9z" />
          </svg>
        </button>

        <button class="btn" id="right">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M4 15V9h8V4.16L19.84 12L12 19.84V15z"
            />
          </svg>
        </button>
      </div>
      <button class="btn" id="stop">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path fill="currentColor" d="M18 18H6V6h12z" />
        </svg>
      </button>
    </div>

    <div id="options">
      <h1 id="hostname">{{ hostname }}</h1>
      {{ macros.slider("speed", "Wheel Speed")}}
    </div>

    <script src="/app.js"></script>
  </body>
</html>
