{% macro slider(name, display_name, starting_value='0.5', min_value='0.1',
max_value='1.0') -%}

<span class="slider-bar">
  <label id="{{ name }}_label" for="{{ name }}"
    >{{ display_name }}: {{ starting_value }}</label
  >
  <input
    type="range"
    id="{{ name }}"
    min="{{ min_value }}"
    max="{{ max_value }}"
    step="0.1"
    value="{{ starting_value }}"
  />
</span>

<script defer>
  // Slider Controls
  const slider = document.getElementById("{{ name }}");
  const label = document.getElementById("{{ name }}_label");

  slider.addEventListener("input", () => {
    // Force to float with 1 decimal place
    let val = parseFloat(slider.value).toFixed(1)
    // Update the label element with the current speed value
    label.textContent = "{{ display_name }}: " + String(val);
    // Send the speed value to the server
    sendCmd(`{{ name }}:${String(val)}`);
  });

  // Get Speed Updates
  const mySocket = new WebSocket('ws://' + location.host + '/command');
  mySocket.addEventListener('message', ev => {
    console.log("📣 " + ev.data)
    if ((ev.data).split(":")[0] != "{{ name }}") return;

    let updatedVal = parseFloat((ev.data).split(":")[1]).toFixed(1)
    label.textContent = "{{ display_name }}: " + String(updatedVal);
    slider.value = updatedVal;
  });
</script>

{%- endmacro %}


{% macro toggle(name, display_name, starting_value='false') -%}

<span class="toggle-switch">
  <label id="{{ name }}_label" for="{{ name }}"
    >{{ display_name }}</label
  >
  <label class="switch" id="joystick">
  <input type="checkbox" id="{{ name }}"/>
  <span class="slider round"></span>
</label>
</span>

<script>
  const toggle = document.getElementById("{{ name }}");

  toggle.addEventListener("input", () => {
    // Send the speed value to the server
    sendCmd(`{{ name }}:${toggle.checked}`);
  });
</script>

{%- endmacro %}